body { font-family: Arial, Helvetica, sans-serif; background-attachment: fixed; background-color: #2d3436; background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); color: white; } 

.mainContainer { display: table; width: 100%; } 

.centralizar { display: table-cell; text-align: center; vertical-align: middle; } 

.marginAuto { max-width: 665px; margin: 0 auto; } 

ul { list-style-type: none; padding-left: 5px; margin: 0px; } 
li { margin-bottom: 5px; } 
span { color: red; } 
a { text-decoration: none; color: black; } 
#dadosSimples { position: absolute; text-align: left; left: 310px; top: 0px; } 

#card { position: relative; width: 100%; margin-top: 20px; box-shadow: 5px 5px 10px; background: white; color: black; } 

#perfil { width: 100%; margin-left: 0px; } 
#imgPerfil { width: 300px; box-shadow: 5px 5px 10px; margin-left:-365px; margin-bottom: 10px; } 

#dados { text-align: left; } 

#vlInput { height: 30px; width: 200px; } 

#bsc { color: white; } 
#bsc {color: var(--dp-bg-teste);}
#buscar { height: 35px; } 

.fifth { border-color: #ffffff; color: #000000; position: relative; overflow: hidden; z-index: 1; -webkit-transition: color 150ms ease-in-out; transition: color 150ms ease-in-out; } 
.fifth:after { content: ''; position: absolute; display: block; top: 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 0; height: 100%; background: #ffffff; z-index: -1; -webkit-transition: width 150ms ease-in-out; transition: width 150ms ease-in-out; } 
.fifth:hover { color: rgb(255, 255, 255); } 
.fifth:hover:after { width: 110%; } 

.btn { box-sizing: border-box; background-color: transparent; border: 2px solid #ffffff; color: #ffffff; cursor: pointer; text-align: center; text-transform: uppercase; } 
.btn:hover, .btn:focus{ color: rgb(0, 0, 0); outline: 0; --dp-bg-teste: black; } 